.button {
  padding: 12px 24px;
  color: white;
  background-color: #3588cc;
  border-radius: 18px;
  border: none;
  font: 16px/16px HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
